body {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAACoCAMAAABt9SM9AAAAA1BMVEUqRlvIOp4TAAAAR0lEQVR4nO3BAQEAAACCIP+vbkhAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAO8GxYgAAb0jQ/cAAAAASUVORK5CYII=);
  background-size:100% 100vh;
  margin:0px;
  background-repeat:repeat;
  min-height:100vh;
  font-family: 'Special Elite', cursive;
  /* Border */
  border: 1px solid #d1d5db;
  border-bottom-color: transparent;
  border-radius: 4ßpx;
  border-bottom: 1px solid #d1d5db;

  /* Center the content horizontally */
  align-items: center;
  display: flex;
  cursor: pointer;
  padding: 16px;
  margin-right: 12px;
  /* Take remaining width */
  flex: 1;
  border-top: 1px solid #d1d5db;
  padding: 16px;
  display: none;
  display: block;
}

@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

.centering {
  align-items: center;
  display: flex;
  cursor: pointer;
  padding: 16px;

}

a {
  color: gold;
}

/* nav bar in header */
.navBar{
  background-color: rgb(140, 162, 162);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 18px;
  padding-bottom: 1px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 65px;
  font-size: 20px;
  width: 95vw;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:slategrey;
  border-radius: 20px;
  border: 1px solid rgb(122, 111, 133);
}