body {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAACoCAMAAABt9SM9AAAAA1BMVEUqRlvIOp4TAAAAR0lEQVR4nO3BAQEAAACCIP+vbkhAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAO8GxYgAAb0jQ/cAAAAASUVORK5CYII=);
  background-size:100% 100vh;
  margin:0px;
  background-repeat:repeat;
  min-height:100vh;
  border: 1px solid #d1d5db;
  border-bottom-color: transparent;
  border-radius: 4ßpx;
  border-bottom: 1px solid #d1d5db;
  align-items: center;
  display: flex;
  cursor: pointer;
  padding: 16px;
  margin-right: 12px;
  flex: 1;
  border-top: 1px solid #d1d5db;
  padding: 16px;
  display: none;
  display: block;
  text-shadow: 2px 2px, white;
  font-family: 'Roboto Slab', serif;
}

@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');


.centering {
  align-items: center;
  display: flex;
  cursor: pointer;
  padding: 16px;

}

a {
  color: gold;
}

.navBar{
  background-color: rgba(105, 120, 135, 0.868);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 18px;
  padding-bottom: 1px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 65px;
  font-size: 20px;
  width: 95vw;
  border-radius: 15px 50px;
  
}

.trendw-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
  
} 

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:slategrey;
  border-radius: 20px;
  border: 5px solid rgba(105, 120, 135, 0.868);
  width: 600px;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
 
}
.bookContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.new-list{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pic{
  border-radius: 5px;
  border: 5px rgba(20, 81, 142, 0.697);
}

#trend {
  font-family: 'Special Elite', cursive;
  text-shadow: darkgoldenrod;
  width: 105vw;
  background-size: 130px;
  background-position-y: -20px;
  height: 80px;
  border-radius: 15px;
}

