body{
  background-image: url("https://media.istockphoto.com/id/968084048/photo/modern-abstract-background.jpg?b=1&s=170667a&w=0&k=20&c=GkVU26T4vEVTXWwAvHzw5JOY004N1mWwBDiL2zyM-Xc=");
  background-size:cover;
  margin:0px;
  background-repeat: no-repeat;
  height:100vh;
  font-family: ;
  font-size: x-large;
  color: rgb(21, 22, 22);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(10px, 50px);
  grid-gap: 1rem;
  margin: 0 auto;
  max-width: 1200px;
  padding: 1rem;
  grid-auto-rows: auto;
}

.navBar{
  border: 5px solid rgba(149, 139, 139);
  background-color: rgba(116, 116, 236, 0.72);
  color: blueviolet;
}
