
.Home {
  background-image: url(https://www.readz.com/image/8359264.1620928269000/gradient-backgrounds.webp);
  background-size:100% 100vh;
  margin:0px;
  background-repeat: no-repeat;
  height:100vh;
}



